* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.rule {
  display: flex;
}

.header {
    background-color: #65727a;
}
.header h1{
    font-size: 30px;
    color: white;
    padding:10px;
}
input{
    width: 60px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border:  1px solid black;
    border-radius: 5px;
    font-size: 20px;
}
.container{
    display: flex;
    margin: 30px;
    justify-content: space-between;
}
.diagrama{
    min-width: 500px;
    min-height: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    /*background-color: #d7dacf;*/
    padding: 30px;
}

.sobre{
    width: 600px;
    min-width: 600px;
    font-size: 16px;
}
.sobre p{
    text-align: justify;
    font-size: 18px;
    line-height: 23px;
}
.submit{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border:  1px solid black;
    border-radius: 10px;
    font-size: 20px;
    background-color: #8f9a9c;
    color: white;
    cursor: pointer;
}

.containerDiagrama{
    margin: 20px;
}

.containerDef{
    display: flex;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
}

